*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑","思源黑体","苹方";
}
a{
    text-decoration: none
}
img{
    border: none;
}
ul{
    list-style-type: none;
}
.header{
    background-color: #002e79;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0.3333333333333333rem;
}
.header .logo img{
    height: 0.7777777777777778rem;
}
.header .tel{
    font-size: 0.24444444444444444rem;
    color: #fff;
    text-align: right;
}
.header .tel b{
    display: block;
    letter-spacing: 0.02rem;
}
.nav{
    background-color: #e9e9e9;
    height: 0.8888888888888888rem;
    color: #002e79;
    font-size: 0.24444444444444444rem;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    padding:0 0.3333333333333333rem;
}
.nav ul li{
    display: block;
    width: 16.66%;
    line-height: 0.8888888888888888rem;
    text-align: center;
}
.banner img{
    width: 10rem;
}
.pubTitle{
    padding: 0 0.4rem 0.6666666666666666rem 0.4rem;
}
.pubTitle h2{
    font-size: 0.5333333333333333rem;
    color:#333;
    font-weight: 400;
}
.pubTitle i{
    width: 0.8rem;
    height: 0.02666666666666667rem;
    background-color: #444;
    display: block;
    margin: 0.4rem 0 0.15rem 0;
}
.pubTitle p{
    font-size: 0.29333333333333333rem;
    color: #eee;
    text-transform: uppercase;
}
.pubArt{
    padding: 1.3333333333333333rem 0;
}

.pubMain .artBox:nth-child(2n){
    margin-left: 0.93rem;
}

.artBox{
    width: 9.066666666666666rem;
}

.artBox .txt{
    padding: 0.4rem;
    position: relative;
    top:-1.4666666666666666rem;
}


.artBox .pic img{
    width: 100%;
}

.artBox b{
    color: #111;
    font-size:1.2rem;
    font-weight: 400;
}
.artBox h3{
    font-size: 0.4533333333333333rem;
    color: #333;
    font-weight: 400;
    margin: 0.26666666666666666rem 0;
}
.artBox i{
    width: 0.8rem;
    height: 0.02666666666666667rem;
    background-color: #444;
    display: block;
}
.artBox p{
    font-size: 0.26666666666666666rem;
    color: #555;
    padding-top:0.4rem;
    line-height: 1.8em;
}

.pubBtn{
    color: #002e79;
    font-size: 0.48rem;
    width: 9.2rem;
    height: 0.9333333333333333rem;
    text-align: center;
    border: 0.013333333333333334rem solid #002e79;
    display: block;
    margin: 0 auto;
    line-height: 0.9333333333333333rem;
}
.pubBtn:active{
    color: #fff;
    background-color: #002e79;
}

.about{
    background-color: #1561bd;
    padding:0.8rem 0.4rem 1.5rem;
}

.about .pubTitle{
    padding: 0 0 0.6666666666666666rem 0;
}

.about .pubTitle h2{
    color: #fff;
}

.about .pubTitle i{
    background-color: #fff;
}

.about .pubTitle p{
    color: #fff;
}

.about .txt{
    font-size: 0.26666666666666666rem;
    line-height: 1.8em;
    color:#fff;
}

.about .pubBtn{
    color: #fff;
    border: 1px solid #fff;
    margin: 0.4rem 0;
}

.about .pic{
    position: relative;
    z-index: 8;
    width: 7.733333333333333rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.about .pic:before,.about .pic:after{
    content: '';
    display: block;
    position: absolute;
    width: 3.466666666666667rem;
    height: 3.466666666666667rem;
    background-color: #002e79;
    z-index: 0;
}
.about .pic:before{
    right: -0.5rem;
    top: -0.5rem;
}
.about .pic:after{
    left: -0.5rem;
    bottom: -0.5rem;
}
.about .pic img{
    position: relative;
    z-index: 8;
    width: 100%;
    display: block;
}

.news{
    padding:1.4666666666666666rem 0.4rem;
}
.news .pubTitle{
    padding-left: 0;
}
.news .time{
    position: relative;
    font-size: 0.37333333333333335rem;
    color: #1561bd;
    width:  1.7rem;
    text-align: right;
    padding-right: 0.2rem;
}
.news .time:after{
    content: '';
    display: block;
    background-color: #efefef;
    width: 0.013333333333333334rem;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.news .time span{
    font-size: 0.5866666666666667rem;
    display: block;
}
.news ul{
    width: 9.2rem;
    margin: 0 auto;
}
.news ul li{
    border-top: #002e79 solid 0.013333333333333334rem;
    padding: 0.4rem 0;
}
.news ul li:last-child{
    border-bottom: #002e79 solid 0.013333333333333334rem;
}
.news ul li a{
    display: flex;
    /*justify-content: space-between;*/
}
.news .txt{
    color: #333;
    width: 7rem;
    padding-left: 0.2rem;
}
.news .txt h4{
    font-size: 0.32rem;
    padding-bottom: 0.15rem;
}
.news .txt p{
    font-size: 0.24rem;
    opacity: 0.7;
    /*line-height: 0.7rem;*/
}
.news .pubBtn{
    margin-top: 1.2rem;
}
.footer{
    padding: 1.4666666666666666rem 0;
    background-color: #002e79;
    color: #fff;
    text-align: center;
}
.footer img{
    height: 1rem;
}
.footer .ftTit{
    font-size: 0.4rem;
    padding: 0.4rem 0;
}
.footer .ftTit span{
    display: block;
}
.footer .txt{
    padding: 0 0.4rem;
    font-size: 0.29333333333333333rem;
    opacity: 0.7;
    line-height: 1.7em;
}